@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icones.sass"

body
    font-family: "poppins"
    overflow-x: hidden
    .titre
        h1
            justify-content: center
            display: flex
            margin: 5%
    header
        padding: 0%
        display: flex
        justify-content: center
        nav

            padding: 0px
            background-color: white
            .couleur
                display: flex
                margin: 0
                margin-right: 50px
                margin-left: 50px

            .connexion
                background-color: grey
                color: white

            .blanc
                background-color: white
                border-radius: 10%
            .noir
                background-color: black
                border-radius: 10%
                background-color: white
            .navbar
                background-color: white
                ul
                    background-color: white

                li
                    display: flex
                    margin: 0
                    justify-content: right
                    background-color: white
                    margin-right: 50px

                    a
                        background-color: white
                        color: black
                    


    
    
    section
        margin: 5% 0%
        background-color: #f3f3f3
        .lamya
            display: flex
            margin-left: 25%
            .texte
                button
                     border-radius: 50%
                
                img
                    width: 80%
           
            .img2
                img
                    width: 50%
            
    
        

    .section2
        .row
            flex-wrap: nowrap
            .premier
                margin-left: 2%
                
                .salut
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 400px
                    height: 200px
                    color: white
                    background-image: url("../../public/img/services/service-1.jpg")
                    text-decoration: underline
            .deuxieme
                
                .bonjour
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 400px
                    height: 200px
                    color: white
                    background-image: url("../../public/img/services/service-2.jpg")
                    text-decoration: underline
                    margin-left: 5px
            .troisieme
               
                 
                .aurevoir
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 400px
                    height: 200px
                    color: white
                    background-image: url("../../public/img/services/slider-3.jpg")
                    text-decoration: underline

    .section3
        .haha
            h1
                justify-content: center
                display: flex
        .container
            .row
                .lala
                
                    del
                        color: red
                    h5
                        justify-content: center
                        display: flex
                
                         
                .lili
                     
                    del
                        color: #EA3732
                    .rond
                        background-color: #EA3732
                        border-radius: 100px
             
                        

                        
        
    .section4
        background-position: center
        background-image: url("../../public/img/cta-bg.jpg")
        background-color: none
        padding: 15%
        div
            h1
                color: white


    .section5
         background-color: none
         
             
         .container
             background-color: white
             .row
                 .shay
                     img
                        width: 400px
                        height: 200px
    .section6
        .container
            .row
                
                
                         

                         


                 

      
                     

               
                    
                    
        
               
           
                     
                
                 
                        

                
                  
                         
                 


             
            
                
               
                 
                        
                 
                    




