@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icones.sass"

body
    font-family: "poppins"

    header

        padding: 0%
        display: flex
        justify-content: center
        nav

            padding: 0px
            background-color: white
            .couleur
                display: flex
                margin: 0
                margin-right: 50px
                margin-left: 50px

            .connexion
                background-color: grey
                color: white

            .blanc
                background-color: white
                border-radius: 10%
            .noir
                background-color: black
                border-radius: 10%
                background-color: white
            .navbar
                background-color: white
                ul
                    background-color: white

                li
                    display: flex
                    margin: 0
                    justify-content: right
                    background-color: white
                    margin-right: 50px

                    a
                        background-color: white
                        color: black

    div
        h1
            justify-content: center
            display: flex
            margin: 5%
    
    section
        margin: 50px
        .container-fluid
            .row
                display: flex
                background-color: #F3F3F3
                .gauche
                    background-color: #F3F3F3
                    h2
                        color:  #EA3732
                        display: flex
                        padding: 0
                        margin: 0
                    button
                        color: white
                        background-color: #EA3732
                        display: flex
                        border-radius: 40%
                        p
                            margin: 10%
                        
                    h1
                        padding: 0
                        font-weight: bold
                        font-size: 500%
                .droite
                    img
                        height: 50%

    .section2
        .row
            .premier
                h1
                    color: white
                    background-image: url("../../public/img/services/service-1.jpg")
                    text-decoration: underline
                    
                     
            .deuxieme
                h1
                    color: white
                    background-image: url("../../public/img/services/service-2.jpg")
                    text-decoration: underline
            .troisieme
                h1
                    color: white
                    background-image: url("../../public/img/services/slider-3.jpg")
                    text-decoration: underline

